@model IEnumerable<Sportclub.ViewModel.ClientsVM>

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.BirthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.BirthDay.GetDateTimeFormats('D')[0])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Password)
        </td>
        <td >
            @*@Html.Raw("<img style='width:60px; height:60px;' src=\"data:image/jpeg;base64,"+Convert.ToBase64String(item.User.Image.ImageData) + "\" />")*@       
            <img style="width:60px;height:60px;" src="@item.User.Image.URI"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
