@model IEnumerable<Sportclub.ViewModel.GraphTraningVM>
@using Sportclub.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GymsVM> gyms = ViewBag.GymList;
}

<h2>Расписание тренировок</h2>
@{
    if (User.IsInRole("coache") == false && User.IsInRole("top_coache") == false && User.IsInRole("head_coache") == false
        && (User.IsInRole("client") == false)) {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            Тренер
        </th>
        <th>
            Специализация
        </th>
        <th>
            День недели
        </th>
        <th>
            Начало
        </th>
        <th>
            Окончание
        </th>
        <th>Участники</th>
        <th>Зал</th>
        <th>
            Прочее
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coache.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coache.Specialization.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeBegin.GetDateTimeFormats('t')[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnd.GetDateTimeFormats('t')[0])
            </td>
            <td>
                @foreach (var client in item) {
                    @Html.DisplayFor(m => client.User.FullName)
                    <span></span>
                }
            </td>
            <td>
                @Html.DisplayFor(m=>item.Gyms.GymName)
            </td>
            @{
                    if ((User.IsInRole("manager") == false && User.IsInRole("top_manager") == false && User.IsInRole("admin") == false)
                    && (User.IsInRole("coache") == false && User.IsInRole("top_coache") == false && User.IsInRole("head_coache") == false))
                    {
                    <td>
                        @Html.ActionLink("Записаться", "SignUp", new { id = item.Id }) |
                    </td>
                }
                if (User.IsInRole("client") == false &&( User.IsInRole("top_coache") == true || User.IsInRole("manager") == true || User.IsInRole("top_manager") == true)) {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    }
                
            }
        </tr>
    }

</table>
