@model Sportclub.ViewModel.SpecializationVM

<script>
    function onSuccess(data) {
        $('#exampleModalScrollable').modal('hide');
        console.log(data)
        if (Array.isArray(data)) {
            $(data).each(function (i, item) {
                $('#selSpec').append("<option value="+item["Id"]+">" + item["Title"] + "</option>")
            })
        }
        else {
            console.log("No is not array!")
            $('#selSpec').append("<option>" + data["Title"] + "</option>")
        }

    }
</script>



@using (Ajax.BeginForm("CreateSpec", new AjaxOptions
{
    UpdateTargetId = "selSpec",
    HttpMethod = "Post",
    Url = "/Coaches/CreateSpec",
    OnSuccess = "onSuccess"
})) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Specialization</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnCreateSpec" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
