@model Sportclub.ViewModel.LoginModelVM

@{
    ViewBag.Title = "Регистрация";
}
<script>
    {
        //function onSuccess(data) {
        //    var img = document.createElement("img");
        //    console.log(data)
        //    $(img).css({ 'width': '40px', 'height': '40px' });
        //    $(img).attr('src', data);
        //    localStorage.setItem("imgData", data);

        //$(location).attr('href', '/Home/Index');
        //}
    }
    $(function (e) {
        var myForm = document.forms[0];
        $('input[type=submit]').click(function (e) {
            $(this).attr('disabled', true);
            $(myForm).triggerHandler('submit');
        });
        $(myForm).submit(function (e) {
            $.ajax({
                method: "POST",
                data: $(myForm).serialize(),
                success: function (data) {
                    //var img = $("#img");
                    if (data.success == true) {
                        {
                            //$(img).css({ 'width': '40px', 'height': '40px' });
                            //$(img).attr('src', data.image);
                        }
                        localStorage.setItem("imgData", data.image);

                        $(location).attr('href', '/Home/Index');
                    }
                    else 
                        alert(data.message);
                    $('input[type= submit]').attr('disabled', false);
                },
                error: function (xhr, status) {
                    alert(status);
                    $('input[type= submit]').attr('disabled', false);
                }
            })
        });
    })
</script>
<h2>Авторизация</h2>
@*<img id="img"/>*@

@*@using (Ajax.BeginForm("Login", new AjaxOptions{HttpMethod = "Post", Url = "/Account/Login", OnSuccess = "onSuccess"})) {*@

@using (Html.BeginForm()) { 
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @placeholder = "e-mail" } })
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "password" } })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Вход" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
@Html.ActionLink("Зарегистрироваться", "Registration", "Account")
