<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <script>
        window.onstorage = function () {

        }
        $(function () {
            //1)- img fo user---------
            var data = localStorage.getItem("imgData");
            if (data != null && data != undefined) {
                var img = document.createElement("img");
                $(img).css({ 'width': '40px', 'height': '40px' });

                console.log(data)   //img user!
                $(img).attr('src', data);
                $('#divImg').append(img);
            }

            //2)-img for background--------
            var arrImg = JSON.parse(localStorage.getItem("arrImg"));
            
            $(document.body).css({
                "background-image": "url(/Files/sport3.jpg)",
                "background-repeat": "no-repeat",
                "background-size": "cover"
            });

            function outer(arr) {
                let x = 0;
                function inner() {
                    x++;
                    if (x >= len)
                        x = 0;
                    console.log("x: " + arrImg[x]) 
                    $(document.body).css("background-image", "url(" + arrImg[x] + ")");                    
                };
                return inner;
            }
            if (arrImg != undefined && arrImg != null) {
                var len = arrImg.length;

                let fn = outer(arrImg);

                setInterval(fn, 60000);
            }
        })
    </script>
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:yellowgreen;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Sportclub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse text-danger">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Тренеры", "Index", "Coaches")</li>
                    <li>@Html.ActionLink("Администрация", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Клиенты", "Index", "Clients")</li>
                    <li>@Html.ActionLink("График тренировок", "Index", "GraphTranings")</li>
                    <li>@Html.ActionLink("Залы", "Index", "Gyms")</li>
                    <li>@Html.ActionLink("Выход", "Logoff", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.Label("Hello, "+ @User.Identity.Name)

                        <div id="divImg">
                            @*<img src="~/Files/men.png" class="img-responsive" width="40"/>*@
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – project Sportclub</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
