@*@model Sportclub.Entities.Administration*@
@model Sportclub.ViewModel.AdministrationVM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Administration</h4>
    <hr />

    @using (Html.BeginForm()) {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserVM.FullName)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.UserVM.FullName)*@
                @Html.DisplayFor(model => model.UserVM.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserVM.BirthDay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserVM.BirthDay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserVM.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserVM.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserVM.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserVM.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserVM.GenderVM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserVM.GenderVM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserVM.Login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserVM.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserVM.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserVM.Password)
            </dd>

        </dl>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserVM.Id)
        @Html.HiddenFor(m => m.UserVMId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
