@*@model Sportclub.Entities.Administration*@
@using Sportclub.ViewModel
@model AdministrationVM

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Administration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.User.FullName)*@
            @Html.DisplayNameFor(model => model.UserVM.FullName)            
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.User.FullName)*@
            @Html.DisplayFor(model => model.UserVM.FullName)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.User.BirthDay)*@
            @Html.DisplayNameFor(model => model.UserVM.BirthDay)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.User.BirthDay)*@
            @Html.DisplayFor(model => model.UserVM.BirthDay)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.User.Phone)*@
            @Html.DisplayNameFor(model => model.UserVM.Phone)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.User.Phone)*@
            @Html.DisplayFor(model => model.UserVM.Phone)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.User.Email)*@
            @Html.DisplayNameFor(model => model.UserVM.Email)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.User.Email)*@
            @Html.DisplayFor(model => model.UserVM.Email)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.User.Gender)*@
            @Html.DisplayNameFor(model => model.UserVM.GenderVM)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.User.Gender)*@
            @Html.DisplayFor(model => model.UserVM.GenderVM)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Status)*@
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.User.Login)*@
            @Html.DisplayNameFor(model => model.UserVM.Login)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.User.Login)*@
            @Html.DisplayFor(model => model.UserVM.Login)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.User.Password)*@
            @Html.DisplayNameFor(model => model.UserVM.Password)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.User.Password)*@
            @Html.DisplayFor(model => model.UserVM.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
