
@using Sportclub.ViewModel
@model List<AdministrationVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Администрация клуба</h2>

@Html.ActionLink("Добавить менеджера", "Create")
<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Status</th>
        <th>Image</th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>@item.Id</td>
        <td>@item.User.FullName</td>
        <td>@item.User.BirthDay</td>
        <td>@item.User.Phone</td>
        <td>@item.User.Email</td>
        <td>@item.User.Gender</td>
        <td>@item.Status</td>
        <td>
            @*@Html.Raw("<img style='width:60px; height:60px;' src=\"data:image/jpeg;base64,"+ Convert.ToBase64String(item.User.Image.ImageData) + "\" />")*@
            <img style='width:60px; height:60px;' src="@item.User.Image.URI"/>
        </td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = @item.Id })</td>
        <td>|</td>
        <td>@Html.ActionLink("Details", "Details", new { id = @item.Id })</td>
        <td>|</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id = @item.Id })</td>
    </tr>
    }
</table>

<div style="display:none">
    @*<img style='width:60px; height:60px;'
         src="https://storageblobitstep.blob.core.windows.net/containerblob/2020-02-15_17-17-59.png?st=2020-02-19T07%3A31%3A26Z&se=2020-02-20T07%3A31%3A26Z&sp=rl&sv=2018-03-28&sr=b&sig=87kzbik9SS7YLiXZ23F2%2FsZqECAvC9j7EB7pOW1F9VY%3D"/>*@
    
    <img style='width:60px; height:60px;' src="https://storageblobitstep.blob.core.windows.net/containerblob/2020-02-15_17-20-43.png"/>
    <img style='width:60px; height:60px;' src="https://storageblobitstep.blob.core.windows.net/containerblob/men2.png"/>
</div>